<div class="list-container despesa-list">
  
  <header class="header-busca-container">
    <div class="busca-input-group">
      <i class="fa-solid fa-magnifying-glass"></i>
      <input 
        type="text" 
        [(ngModel)]="termoBusca" 
        placeholder="Descrição, Observação..."
        (input)="aplicarFiltrosEOrdenacao()"
      >
    </div>
    
    <div class="divisor-vertical-header"></div>
    
    <button class="btn-filtrar-ordenar" (click)="abrirModalFiltros()">
      <i class="fa-solid fa-sliders"></i> Filtrar e ordenar
    </button>

    <div class="espacador"></div>

    <div class="resumo-mini-container">
      <div class="resumo-mini-item">
        <span class="lbl">QTD:</span>
        <span class="val">{{ resumoDespesas.quantidade }}</span>
      </div>
      <div class="divisor-mini"></div>
      <div class="resumo-mini-item">
        <span class="lbl">CUSTO:</span>
        <span class="val txt-lucro negativo">{{ resumoDespesas.custoTotal | currency:'BRL' }}</span>
      </div>
    </div>

    <button class="btn-nova-venda" (click)="novaDespesa()">
      Nova Despesa
    </button>
  </header>

  <div class="carregando" *ngIf="carregando">
    <div class="spinner"></div>
  </div>

  <div class="sem-resultados sem-dados" *ngIf="!carregando && despesasOriginais.length > 0 && despesasFiltradas.length === 0">
    <p>Nenhuma despesa encontrada para os filtros aplicados.</p>
    <button class="btn-limpar btn-paginacao" (click)="limparFiltros()">Limpar Filtros</button>
  </div>

  <div class="sem-resultados sem-dados" *ngIf="!carregando && despesasOriginais.length === 0">
    <p>Nenhuma despesa cadastrada no sistema.</p>
  </div>

  <div class="despesa-card" *ngFor="let despesa of despesasPaginadas">
    <div class="despesa-grid-container">
      
      <div class="col-icone">
        <div class="icone-box" [ngClass]="getClasseCategoria(despesa.categoria)">
          {{ getIconeCategoria(despesa.categoria) }}
        </div>
      </div>

      <div class="col-identificacao">
        <h3>{{ despesa.descricao }}</h3>
        
        <div class="tags-identificacao">
          <span class="tag">{{ despesa.categoria }}</span>
        </div>
        
        <div *ngIf="despesa.observacoes">
          <p class="desc-truncada" [class.expandida]="despesa.mostrarObservacoes">
            <strong>Obs:</strong> {{ despesa.observacoes }}
          </p>

          <a class="link-expandir" *ngIf="despesa.observacoes.length > 80" (click)="toggleObservacoes(despesa)">
            {{ despesa.mostrarObservacoes ? 'Ocultar' : 'Ver' }} Obs.
            <span class="seta">{{ despesa.mostrarObservacoes ? '▲' : '▼' }}</span>
          </a>
        </div>
        <span class="data-criacao">Pago em:  {{ despesa.data | date:'dd/MM/yyyy' }}</span>
      </div>

      <div class="col-financeiro">
        <div class="financeiro-linha">
          <span class="fin-label">Valor:</span>
          <span class="fin-valor">{{ despesa.valor | currency:'BRL' }}</span>
        </div>
      </div>

      <div class="col-acoes">
        <button class="btn-editar" (click)="editarDespesa(despesa)">
          Editar
        </button>
        <button class="btn-excluir" (click)="excluirDespesa(despesa)">
          Excluir
        </button>
      </div>

    </div>
  </div>

  <footer class="paginacao-container" *ngIf="!carregando && totalPaginas > 1">
    <button class="btn-paginacao" (click)="mudarPagina(paginaAtual - 1)" [disabled]="paginaAtual === 1">
      &laquo; Anterior
    </button>
    
    <div class="paginas-numeros">
      <button class="btn-paginacao num" 
              *ngFor="let pag of paginasArray" 
              (click)="mudarPagina(pag)" 
              [class.ativo]="paginaAtual === pag">
        {{ pag }}
      </button>
    </div>

    <button class="btn-paginacao" (click)="mudarPagina(paginaAtual + 1)" [disabled]="paginaAtual === totalPaginas">
      Próxima &raquo;
    </button>
  </footer>

  <div class="modal-overlay" *ngIf="mostrarModalFiltros" (click)="fecharModalFiltros()">
    <div class="modal-filtros-content" (click)="$event.stopPropagation()">
      
      <div class="modal-filtros-header">
        <h3><i class="fa-solid fa-filter"></i> Filtrar e ordenar
        </h3>
        <button class="btn-fechar-modal" (click)="mostrarModalFiltros = false">
        <i class="fa-solid fa-xmark"></i>
      </button>
      </div>

      <div class="modal-filtros-body">

        <div class="filtro-bloco">
        <label>Período</label>
        <select [(ngModel)]="periodo" (change)="aplicarFiltrosEOrdenacao()">
          <option value="todos">Todo o período</option>
          <option value="hoje">Hoje</option>
          <option value="7_dias">Últimos 7 dias</option>
          <option value="30_dias">Últimos 30 dias</option>
          <option value="este_mes">Este Mês</option>
          <option value="este_ano">Este Ano</option>
        </select>
      </div>
        
        <div class="filtro-bloco">
          <label>Categoria</label>
          <select [(ngModel)]="filtroCategoriaTemp">
            <option value="">Todas as Categorias</option>
            <option *ngFor="let cat of categorias" [value]="cat">{{ cat }}</option>
          </select>
        </div>

        <div class="filtro-bloco">
          <label>Ordenar por</label>
          <select [(ngModel)]="ordenacaoTemp">
            <option value="mais_recentes">Mais recentes</option>
            <option value="mais_antigas">Mais antigas</option>
            <option value="maior_valor">Maior valor</option>
            <option value="menor_valor">Menor valor</option>
          </select>
        </div>

      </div>

      <div class="modal-filtros-footer">
        <button class="btn-aplicar-filtros" (click)="aplicarFiltrosModal()">Aplicar Filtros</button>
      </div>

    </div>
  </div>
</div>

<app-despesa-form 
  *ngIf="mostrarFormDespesa"
  [despesa]="despesaSelecionada"
  (fecharModal)="fecharFormDespesa()"
  (despesaSalva)="onDespesaSalva()">
</app-despesa-form>